<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museumapp</title>
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/master.css">

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<%- include('header'); -%>
<div class="details">
  <h4>The Temptation of St. Anthony (Dalí)</h4>
  <img src= "<%=kunst[9].imgURL %>" class= "img2" >
  <p class="descriptB">Naam: <%=kunst[9].name %> <br> Kunstenaar: <%=kunst[9].kunstenaar %> <br> Jaar: <%=kunst[9].jaar %> <br> Beschrijving: <%=kunst[9].beschrijving %> </p>
  <h4>Salvador Dali</h4>
  <p class="sal">
Salvador Dalí werd geboren in 1904 op 11 mei in Figueras, Spanje. Voordat hij zes jaar werd toonde hij al talent als kunstenaar. In die periode ontdekte hij Cadaques en zijn prachtige baai.
Cadaques is een plaatsje in Spanje aan de Middelandse zee.
Deze ontdekking was het begin van zijn levenslange liefde voor Cadaques.
De vreemd gekleurde rotsen en de verlaten stranden zijn onderwerp geweest van vele van Dali’s studies. <br> <br>
Salvador Dalí behoort tot het surrealisme. Zijn belangrijkste werk schiep Dali in de jaren '30. De - bewust schokkende - kracht van zijn werk ligt in het feit dat hij zeer nauwkeurig naar de werkelijkheid geschilderde objecten, die in geen relatie tot elkaar staan, met elkaar in verband brengt.</p>
  <h4>Geschiedenis</h4>
  <p class="history">Dalí schilderde The Temptation of St. Anthony in 1946, naar aanleiding van een wedstrijd van de filmmaatschappij David L. Loew-Albert Lewin voor een schilderij van The Temptation of Saint Anthony,om te gebruiken in de film The Private Affairs of Bel Ami. Dit was de enige kunstwedstrijd waaraan Dalí deelnam, en het schilderij dat voor de film werd gekozen was Max Ernst's versie van de verleiding. <br> <br>

Het schilderij bevat veel surrealistische elementen die typisch zijn voor zijn werk. Veelzeggend is dat het de eerste van zijn werken was die zijn interesse in de tussenproducten tussen Hemel en Aarde tentoonstelde.Het schilderij bevindt zich nu in de Koninklijke Musea voor Schone Kunsten van België, in Brussel.</p>
<h4>Interpretaties</h4>

  <p class="info">De titel, The Temptation of St. Anthony, geeft aanwijzingen over de betekenis van het schilderij en zijn iconografie. In dit schilderij verschijnen verschillende verleidingen voor de heilige Antonius (de naakte man op het schilderij). Eén daarvan is afgebeeld in de vorm van een paard, dat kracht en weelderigheid uitbeeldt. <br> <br>

De vorm van de olifant, die op zijn rug de gouden beker met lusten draagt waarin een naakte vrouw staat, benadrukt het erotische karakter van de compositie. De andere olifanten dragen gebouwen op hun rug; de eerste draagt een obelisk geïnspireerd op die van Bernini in Rome, en de tweede en derde zijn beladen met Venetiaanse bouwwerken in de stijl van Palladio. <br> <br>

Het middelpunt is de dierenparade, omdat deze het grootste element in het schilderij is, waardoor de kijker in de verleiding komt. Op de achtergrond draagt een andere olifant een hoge toren met fallische boventonen, en in de wolken kan men enkele fragmenten van het Escorial, een symbool van de temporele en spirituele orde, zien. <br> <br>

Alle verleiding moet worden weerstaan door de heilige Antonius, die zijn kruis gebruikt om het visioen af te weren. De heilige is naakt en suggereert de zwakheid van de heilige, en stelt deze zo tegenover de kracht van het kruis, die zijn verleiding moet overwinnen.</p>

</div>








<%- include('footer'); -%>
